.bannergaleria{
    background-image: url('../images/subestacion.jpg');
    background-attachment: fixed;
}

.galeria img{
    width: 100%;
    max-height: 280px;
    object-fit: cover;
}

.galerimg{
    padding: 7px;
}

.galeria{
    margin-top: 20px;
}

.galeriah2 h2{
    margin-top: 120px;
    margin-bottom: 30px;
    color: #000000;
}